<%- contentFor('user_content') %>
<style>
  .login-main {
    border: 2px solid #e8d7d7;
    border-radius: 20px;
    padding: 10px 10px 0px 13px;
    }
</style>
<div class="main">
    <section class="module bg-dark-30" data-background="/assets/images/section-4.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h1 class="module-title font-alt mb-0">Change Password</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-4 mb-sm-40 login-main">
            <h4 class="font-alt text-center">Change Password</h4>
            <hr class="divider-w mb-10">

            <form class="form" method="post" name="change_password" id="change_password" action="/change-password">
                <%if (locals.message) { %>
                    <div class="alert <%= messageClass %>" role="alert">
                      <%= message %>
                  </div>
                  <% } %>
                  <div class="form-group">
                    <label for="old_pass">Old Password</label>
                    <input type="password" name="old_pass" id="old_pass" class="form-control" placeholder="Old password">
                  </div>
                  <div class="form-group">
                    <label for="new_pass">New Password</label>
                    <input type="password" name="new_pass" id="new_pass" class="form-control" placeholder="New password">
                  </div>
                  <div class="form-group">
                    <label for="con_pass">Confirm Password</label>
                    <input type="password" name="con_pass" id="con_pass" class="form-control" placeholder="Confirm password">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-block btn-round btn-b">Change Password</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </section>
